.cls-1 {
  fill: none;
  stroke: #003d71;
  stroke-miterlimit: 10;
  stroke-width: 0.96px;
}

.cls-2 {
  fill: #f6ba18;
}

.cls-2,
.cls-3 {
  stroke-width: 0px;
}

.cls-3 {
  fill: #003d71;
}
#logo {
  opacity: 0;
  // visibility: hidden;
  overflow: visible;
  width: 100%;
  height: auto;
  max-height: 225px;
}
#heart {
  // transform-origin: 50%;
  opacity: 0;
  width: 100%;
  height: auto;
  transform-origin: 50% 75%; // Set the transform origin to the horizontal center
}
line {
  /* safari needs 300 300 for stroke-dasharray instead of single 300 */
  stroke-dasharray: 43.03px 43.03px;
  stroke-dashoffset: 43.03px;
  stroke: dodgerblue;
  &#right-line {
    stroke-dasharray: -43.03px -43.03px;
    stroke-dashoffset: -43.03px;
  }
}

@keyframes logoAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes heartAnimation {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes lineAnimation {
  0% {
    stroke-dashoffset: 43.03px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes lineAnimationTwo {
  0% {
    stroke-dashoffset: -43.03px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

#logo {
  animation: logoAnimation 0.75s ease-out 0.25s forwards;
}

#heart {
  animation: heartAnimation 0.75s ease-out 1.75s forwards;
}

line {
  animation: lineAnimation 0.75s ease-out 1s forwards;
  &#right-line {
    animation: lineAnimationTwo 0.75s ease-out 1s forwards;
  }
}
