---
import Intro from "../components/Intro.astro";
import BodyContainer from "../components/BodyContainer";
import Scroll from "../components/Test";
import "../styles/home.scss";
import "../styles/accordion-styles.scss";
import Header from "../components/Header";
import CarouselContainer from "../components/CarouselContainer";
import VideoComponent from "../components/VideoComponent";
import CustomVideo from "../components/CustomVideo";
import Accodion from "../components/Accordion";

import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer";
import GiveBanner from "../components/GiveBanner";
import TopTakeoverBar from "../components/TopTakeoverBar";
import "@fontsource/domine/400.css";
import "@fontsource/domine/600.css";
import "@fontsource/raleway/400.css";
import "@fontsource/raleway/500.css";
import "@fontsource/raleway/600.css";
import "@fontsource/open-sans";
---

<script async src="https://www.googletagmanager.com/gtag/js?id=G-KFGQ1WS6YS"
></script>
<script is:inline>
  // console.log("gtag");
  function gtag() {
    dataLayer.push(arguments);
  }
  (window.dataLayer = window.dataLayer || []),
    gtag("js", new Date()),
    gtag("config", "G-KFGQ1WS6YS");
</script>
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>

<Layout
  title="For the Love of Community"
  image="hero.jpg"
  description="The Pavilion at TCNJ will provide an ideal space in which the TCNJ community and others can gather for everything from musical and dramatic performances to lectures and debates to ceremonies and presentations. Its open, modern design will enable all kinds of interdisciplinary connections among learners, researchers, innovators, students, and others."
>
  <main>
    <TopTakeoverBar client:load />
    <Header />
    <Intro
      body="The Pavilion at TCNJ will provide an ideal space in which the TCNJ community and others can gather for everything from musical and dramatic performances to lectures and debates to ceremonies and presentations. Its open, modern design will enable all kinds of interdisciplinary connections among learners, researchers, innovators, students, and others."
      buttonText="Invest in Community"
      buttonLink="https://give.tcnj.edu/invest-in-community/"
      heroImage="hero-new-2.jpg"
    />

    <BodyContainer idName="tcnj-spirit" scholarship={false} client:load>
      <h2>
        A design that embodies collaboration, creativity, accessibility, and
        inclusion
      </h2>
      <p>
        The Pavilion at TCNJ will integrate flexibility, sustainability, and
        efficient space use while also prioritizing acoustics and performance
        technology. Integral to its functionality is a retractable door that
        opens to a covered, multipurpose outdoor seating area. Slated to be
        built in a centralized location on campus, The Pavilion at TCNJ will
        host events year-round and facilitate next-level partnerships: Think
        science and business researchers joined by scholars, dancers, artists,
        and linguists to explore their interdisciplinary and creative potential.
      </p>
    </BodyContainer>

    <CarouselContainer
      carouselImages={[
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_18.jpg",
          alt: "Pavilion Rendering 1",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_17.jpg",
          alt: "Pavilion Rendering 2",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_16.jpg",
          alt: "Pavilion Rendering 3",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_15.jpg",
          alt: "Pavilion Rendering 3",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_14.jpg",
          alt: "Pavilion Rendering 3",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_13.jpg",
          alt: "Pavilion Rendering 3",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_12.jpg",
          alt: "Pavilion Rendering 3",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_11.jpg",
          alt: "Pavilion Rendering 3",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_10.jpg",
          alt: "Pavilion Rendering 3",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_09.jpg",
          alt: "Pavilion Rendering 3",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_05.jpg",
          alt: "Pavilion Rendering 3",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_06.jpg",
          alt: "Pavilion Rendering 3",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_04.jpg",
          alt: "Pavilion Rendering 3",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_03.jpg",
          alt: "Pavilion Rendering 3",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_02.jpg",
          alt: "Pavilion Rendering 3",
        },
        {
          image:
            "https://tcnj.edu/custom/campaigns/new-pavilion-images/gallery/ext-1_Page_01.jpg",
          alt: "Pavilion Rendering 3",
        },
      ]}
      client:load
    >
      <div id="carousel-body">
        <p>
          The space will feature a retractable, garage-like door and materials
          that blend with the environment while maintaining the signature look
          and feel of TCNJ’s campus.
        </p>
        <!-- <a class="button-link">Download TCNJ Pavilion Campaign Overview</a> -->
      </div>
    </CarouselContainer>
    <GiveBanner scholarship={false} client:load>
      <h2>Giving Opportunities</h2>
      <p>
        Please join the TCNJ community to help bring this creative vision to
        life. Whether through an individual gift or a sponsorship, there are
        numerous ways to lend your support to the creation of The Pavilion at
        TCNJ. Naming opportunities will underwrite various aspects of
        programming provided through The Pavilion at TCNJ, including but not
        limited to recurring programs and initiatives, student organizations’
        use of the space, lecture series and scholarly panels, visiting artists,
        and scholar-in-residence fellowships.
      </p>
      <a class="button-link" href="https://give.tcnj.edu/invest-in-community/"
        >Give Online</a
      >
      <!-- <Accodion
        client:load
        idName="naming-opps"
        header="View the full list of naming opportunities"
        startOpen={false}
      >
        <p>Content here</p>
      </Accodion> -->
    </GiveBanner>
    <Footer client:load />
  </main>
</Layout>
