---
import Intro from "../components/Intro.astro";
import BodyContainer from "../components/BodyContainer";
import Scroll from "../components/Test";
import "../styles/home.scss";
import Header from "../components/Header";
import CarouselContainer from "../components/CarouselContainer";
import VideoComponent from "../components/VideoComponent";
import CustomVideo from "../components/CustomVideo";
import Accodion from "../components/Accordion";

import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer";
import GiveBanner from "../components/GiveBanner";
import "@fontsource/domine/400.css";
import "@fontsource/domine/600.css";
import "@fontsource/raleway/400.css";
import "@fontsource/raleway/500.css";
import "@fontsource/raleway/600.css";
import "@fontsource/open-sans";
---

<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>

<!-- <link
  rel="stylesheet"
  href="https://video-react.github.io/assets/video-react.css"
/> -->
<Layout title="For the Love of Scholarship" scholarship>
  <main>
    <!-- <ParallaxContainer
      image="https://tcnj.edu/custom/homepage/img/homepage-slides/fall-23/compressed/slide-1.jpg"
      alt="the cat"
      strength={200}
      client:load
      align="right"
    > -->
    <!-- <Scroll client:load/> -->
    <Header />
    <Intro
      scholarship
      body="There are so many reasons to love TCNJ — and no better way to support the college than through the gift of scholarship. Your generosity will help TCNJ remain affordable and accessible by providing vital scholarships for today’s bright, curious minds and tomorrow’s leaders."
      buttonText="Invest in Scholarships"
      buttonLink="#"
      heroImage="hero-scholarship.jpg"
    />
    <!-- <ParallaxContainer
      image="https://tcnj.edu/custom/homepage/img/homepage-slides/fall-23/compressed/slide-1.jpg"
      alt="the cat"
      strength={200}
      client:load
      align="right"
      > -->
    <!-- <CustomVideo client:load /> -->
    <BodyContainer idName="tcnj-spirit" scholarship client:load>
      <h2>
        Your investment in scholarships can help change the lives of TCNJ
        students.
      </h2>
      <p>
        Your generosity can have a huge impact on the success of future
        generations of TCNJ students while also enhancing TCNJ’s long-standing
        reputation of academic excellence. You’ll play a vital part in making
        TCNJ the top choice for entering college students across the state and
        region.
      </p>
    </BodyContainer>

    <GiveBanner client:load>
      <h2>Giving Opportunities</h2>
      <p>
        Your donation can be a one-time gift of any size. You can also create —
        or expand upon — your own TCNJ legacy through a named or endowed
        scholarship.
      </p>
      <Accodion
        client:load
        idName="school-scholarships"
        header="School and Program Scholarships"
        startOpen={true}
      >
        <p>
          Scholarships can support students throughout the college or
          specifically target one or more academic departments or schools.
        </p>
        <a class="button-link">Invest in Scholarships</a>
      </Accodion>
      <Accodion
        client:load
        idName="endowed-scholarships"
        header="Endowed Scholarships"
        startOpen={false}
      >
        <p>
          Endowed scholarships enable the college to grow an investment over
          time and support future generations of students in perpetuity.
          Interested in learning more? Contact Laura Smith, leadership gift
          officer, at <a href="tele:1-609-771-2218">609.771.2188</a> or
          <a href="mailto:laura.smith@tcnj.edu"> laura.smith@tcnj.edu.</a>
        </p>
      </Accodion>
      <!-- <a class="button-link">Give Online</a> -->
    </GiveBanner>
    <Footer client:load>
      <p id="contact-info" class="wrapper">
        Contact us: <a href="mailto:tcnjfund@tcnj.edu"> tcnjfund@tcnj.edu</a>
         or
        <a href="tele:1-609-771-2218"> 609.771.2218</a> /
        <a href="tele:1-800-347-9621"> 800.347.9621</a>
      </p>
    </Footer>
    <!-- <VideoComponent client:load /> -->
  </main>
</Layout>
