---
// import Scholarship from "../pages/scholarship.astro";
interface Props {
  title: string;
  description?: string;
  image?: string;
  scholarship?: boolean;
}

const {
  title,
  scholarship,
  description = "The College of New Jersey has the opportunity to build a new indoor/outdoor structure – the TCNJ Community Hub – that will serve as a setting for community engagement, music and drama rehearsals, visiting and faculty lecturers, competition presentations, and performances.",
  image = "https://brand.tcnj.edu/wp-content/uploads/sites/11/2016/03/site-brand-downloads-logo-horizontal-FINAL-546-160.png",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link
      rel="preload"
      href="https://tcnj.edu/custom/campaigns/new-pavilion-images/hero-2026/hero-final.jpg"
      as="image"
      fetchpriority="high"
    />

    <link
      rel="preload"
      href="https://tcnj.edu/custom/campaigns/new-pavilion-images/hero-2026/blue-bg-full.jpg"
      as="image"
      fetchpriority="high"
    />
    <!-- <link
      rel="preload"
      href="https://tcnj.edu/custom/campaigns/images/yellow-bg-small.jpg"
      as="image"
    /> -->

    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />

    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="https://tcnj.edu/favicon.ico" />
    <meta name="robots" content="index, follow" />

    <link rel="stylesheet" href="https://use.typekit.net/mjf1ezf.css" />
    <meta
      property="og:image"
      content={`https://tcnj.edu/custom/campaigns/images/` + image}
    />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
